header section {
    max-width: 80%;
    float: left;
    padding: 0 0 .2em 1em;
}

select {
    width: 90%;
    margin: .2em 5%;
}

img {
    max-width: 100%;
}

hr {
    margin: 1em;
    width: 80%;
}
/* === TEXT STYLES === */
  
p {
    font-size: 1em;
}
  
/* === LINK STYLES === */

a, a:link, a:active {
    text-decoration: none;
    color: #777;
}
  
a:hover, a:focus {
    color: #29506D;
}
  
/* === ICON FONT === */
  
.icon-menu {
    font-size: 3em;
    float: right;
}
  
/* === FILTER STYLES === */
  
#filters {
    padding: 0;
    list-style: none;
}

/* === FLOATING AND CLEARFIX === */

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}